<div class="container">
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Book</th>
        <th scope="col">Quantity</th>
        <th scope="col">price</th>
        <th scope="col">Remove</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <th scope="row">1</th>
        <td></td>
        <td></td>
        <td></td>
        <td><button class="btn btn-danger">Remove</button></td>
      </tr>
    </table>
</div>
<div class="container">
    <div class="row">
        <div class="col-6">
            <p>Total Price</p>
            <span>100</span>
        </div>
        <div class="col-6">
            <a class="btn btn-dark w-100 h-75" routerLink="/data">Continue</a>
        </div>
    </div>
</div>