<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-6">
            <img [src]="book?.img" alt="book cover">
        </div>
        <div class="col-6">
            <h2>{{book?.name}}</h2>
            <h5></h5>
            <h4>{{book?.price}}</h4>
            <span class="d-block">{{book?.title}}</span>
            <label for="quantity"></label>
            <input id="quantity" type="number" value="1" min="1" class="w-25"><br>
            <button class="btn btn-dark mt-3">Add To Cart</button>
            <p class="mt-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate blanditiis aspernatur odio dolores
                eveniet pariatur consectetur in ipsa cum illo accusamus adipisci molestiae, possimus dolorum mollitia
                quas culpa ex placeat!</p>
        </div>
    </div>
</div>