<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-6">
            <img [src]="book?.img" alt="book cover" style="height: 550px; width: 450px;">
        </div>
        <div class="col-6">
            <h2>{{book?.name}}</h2>
            <h5>{{book?.writer}}</h5>
            <h4>{{book?.price | currency:"EGP"}}</h4>
            <span class="d-block mb-1">Quantity</span>
            <label for="quantity"></label>
            <input id="quantity" type="number" value="1" min="1" class="w-25"><br>
            <button class="btn btn-dark mt-3">Add To Cart</button>
            <p class="mt-5"> {{book?.title}}Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate
                blanditiis aspernatur odio dolores
                eveniet pariatur consectetur in ipsa cum illo accusamus adipisci molestiae, possimus dolorum mollitia
                quas culpa ex placeat!</p>
            <button class="btn btn-dark mt-3" (click)="back()" >Continue Shipping</button>
            
        </div>
    </div>
</div>