<div class="jumbotron jumbotron-fluid">
    <div class="container pt-5">
      <h1 class="display-4">Book Store</h1>
      <p class="lead">+1000 books from diffrent categories</p>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Book name, Writer name, ..." aria-label="Book name, Writer name, ..." aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button"><span>search </span><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
      </div>
      <div class="container d-flex justify-content-center">
        <button class="addBook btn btn-lg w-50 mt-3 text-light" routerLink="/addBook">Add Your Book</button>
      </div>
    </div>
  </div>
  